# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Temporary / OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
~$Vimlesh_GitHub_Projects_Summary.pptx
~$Vimlesh_GitHub_Projects_Summary.docx